body {
    margin: 40px;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 850px;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

.item {
    width: 50px;
    height: 50px;
    background-color: rgb(13, 95, 183);
}
